
.page-background {
  background-color: #a9bac7; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.container-wrapper {
  background-color: #f2f2f2; 
  display: flex;
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.login-left {
  background-color: white;
  padding: 40px;
  flex: 1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-right {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
}

.login-right img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff; 
  display: flex;
  align-items: center;
  gap: 4px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 2px;
}
.logo-box {
  background-color: #007bff;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 24px;
}
.logo-text {
  color: #007bff;
  font-size: 24px;
}
.login-left input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
}


 .login-button {
  width: 50%; 
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  text-align: left; 
}

.forgot-password {
  margin-top: 10px;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}
